* {
    padding:0;
    margin:0;
    border-width:0;
    background-color: black;
    color:goldenrod;
}

.search-header {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid goldenrod;
}

#search-input {
    background-color: goldenrod;
    font-size: 25px;
    color: black;
    border-radius: 5px;
    width: 200px;
    height: 30px;
}



::placeholder{
    color : black;
}

.button{
    border-radius:5px;
    background-color: goldenrod;
    color: black;
    height: 30px;
    width: 30px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button.closed{
    pointer-events: none;
    visibility: hidden;
}



.arrow{
    background-color: goldenrod;
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 3px;
    width: 3px;
    height: 3px;
}

.arrow.right{
    transform: rotate(-45deg);
    margin-right: 3px;

}

.arrow.down{
    transform: rotate(45deg);
    margin-bottom: 3px;
}



h1 {
    text-align: center;
    color:goldenrod;
    font-size: 100px;
    border-bottom: 5px solid goldenrod;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.showing-header {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.movies-grid{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: flex-start;
}

.movie-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border : 5px solid goldenrod;
    padding : 3px;
    margin: 10px;
    width: 250px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.movie-poster{
    max-width: 240px;
    max-height: 300px;
}

.bottom-header{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#load-more-movies-btn {
    background-color: goldenrod;
    width:30px;
    height:30px;
    border-radius: 5px;
}
