* {
    padding:0;
    margin:0;
    border-width:0;
    background-color: black;
    color:goldenrod;
}


h1 {
    text-align: center;
    color:goldenrod;
    font-size: 100px;
    border-bottom: 5px solid goldenrod;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.showing-header {
    font-family: Arial, Helvetica, sans-serif;
}

.movies-grid{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: flex-start;
}

.movie-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border : 5px solid goldenrod;
    padding : 3px;
    margin: 10px;
    width: 250px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.movie-poster{
    max-width: 240px;
    max-height: 300px;
}

